\#ifndef ${OUTPUT_PREFIX}_cons_H_
\#define ${OUTPUT_PREFIX}_cons_H_

\#include <stdint.h>

##\#include <include/types.h>

${is_mapred_comp}

namespace ${computation_classname}_cons {
  ${constants}
}

#endif  // ${OUTPUT_PREFIX}_cons_H_
