 

class ComputationParams {

public:
    int num_inputs;
    int num_outputs;
    int num_cons;
    int num_vars;
    int num_aij, num_bij, num_cij;

    ComputationParams(void) {
        ${comp_parameters}
    }

};
